<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="am.te.myapplication"
    android:supportsRtl="true" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- required by Google maps: -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presenter.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presenter.SearchFriends" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!--
                <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            -->
        </activity>
        <activity
            android:name=".presenter.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".presenter.Homepage"
            android:label="My Wishlist"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".presenter.FriendList"
            android:label="@string/title_activity_friend_list" >

            <!--
                <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchFriends" />
            -->
        </activity>
        <activity
            android:name=".presenter.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".presenter.AddListing"
            android:label="@string/title_activity_add_listing" >
        </activity>
        <activity
            android:name=".presenter.FriendDetails"
            android:label="Friend Details" >
        </activity>
        <activity
            android:name=".presenter.FriendListings"
            android:label="Friend Listings" >
        </activity>
        <activity
            android:name=".presenter.FriendListingDetails"
            android:label=" Friend Listing Details" >
        </activity>
        <activity
            android:name=".presenter.ListingDetails"
            android:label="@string/title_activity_listing_details" >
        </activity>
        <activity
            android:name=".presenter.AddDeal"
            android:label="@string/title_activity_deal_report" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQdb-N7uwKlPK70FKrKwCOcDq5o9G6aHg" />

        <activity
            android:name=".presenter.Map"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
